html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  height: 130vh;
}

h1  {
  text-align: center;
  margin: 30px;
}

.text {
  display: inline-block;
  width: 80%;
  position: relative;
  left: 20%;
}

textarea {
  display: block;
  width: 80%;
  height: 300px;
}

input {
  margin: 1.5% 0 5%;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {

  padding: 5px 25px;
  margin: 10px;
}
button:hover  {
  color: red;
  background-color: beige;
}
