#container {
  margin-top: 50px;
  height: 850px;
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#container h2 {
  padding: 0 0 20px;
  border-bottom: 2px solid #111;
  font-size: 32px;
  color: #111;
  text-align: center;
  line-height: 1;
}

#container > form ul li {
  list-style: none;
  margin-left: -40px;
  padding: 0 0 12px;
  text-align: left;
}


#container > form ul li input {
  width: 100%;
  box-sizing: border-box;
  height: 47px;
  text-indent: 12px;
  margin-top: 5px;
}

#container .big_btn {
  margin-top: 10.21px;
  width: 100%;
  height: 56px;
  font-size: 18px;
  color: white;
  background-color: #e30e0e;
  border: 1px solid #e30e0e;
  border-radius: 8px;
  margin-bottom: 6.8px;
}
